.top-menu {
  display: grid;
  grid-template-areas:
    'info'
    'content';
  grid-template-columns: 1fr;
  min-height: 100px;
  line-height: 60px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.info-menu {
  grid-area: info;
  text-align: center;
  line-height: 40px;
  background-color: #42c6ba;
}

.info-menu > a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color: #fff;
  font-weight: bold;
  animation: ads 2s linear infinite;
}

.top-menu.no-top {
  background-color: #fff;
  box-shadow: 1px 1px 5px #444c523b;
}

.top-menu-wrapper {
  display: grid;
  grid-area: content;
  grid-template-columns: 300px 1fr;
  padding: 0 150px;
  box-sizing: border-box;
}

.lang-select > select {
  appearance: none;
  border: 2px solid #13eba2;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 3px 10px;
  text-transform: uppercase;
}

.menuItems {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, minmax(120px, 160px));
  text-align: right;
  justify-content: end;
}

.menuItems > a,
.menuItems > div > span {
  width: 100%;
  height: 60px;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #414156;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  box-sizing: border-box;
}
.menuItems > div {
  cursor: pointer;
}

.menuItems > a:hover,
.menuItems > div:hover > span {
  color: #42c6ba;
  cursor: pointer;
}

.menuItems > .dropmenu {
  position: relative;
}

select.dropdown-options {
  position: relative;
  left: 20px;
}

.logo {
  width: 200px;
  background-image: url('../../assets/img/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  margin: 0px;
}

#burger-buttom {
  display: none;
}

.menuItems-responsive {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: absolute;
  padding-bottom: -50px;
  right: -100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 50;
  transition: background 300ms ease;
  overflow-y: scroll;
}

.menuItems-responsive > div {
  position: relative;
  box-sizing: border-box;
  background-color: rgba(66, 198, 186, 1);
  margin-left: 30vw;
  transition: all 300ms ease;
  line-height: 40px;
}

.menuItems-top-margin {
  margin-top: 120px;
}

.menuItems-responsive > div > div > a {
  box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 24px;
  line-height: 32px;
  padding: 0 10px 0 20px;
  padding: 20px 35px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
}

.menuItems-responsive > div > div > a {
  cursor: pointer;
}

.menuItems-responsive > div > div > a.active {
  color: #1b1a1f;
}

.menuItems-responsive > div > .category,
.menuItems-responsive > div > div > .category {
  line-height: 32px;
  text-align: center;
  background-color: #eeeeee;
}

.menuItems-responsive.is-active {
  display: grid;
  background-color: rgba(0,0,0,.5);
  right: 0;
}

.menuItems-responsive.is-active > div {
  right: 0;
}

.menuItems-responsive.is-active > div > div {
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #1b1a1f;
}

@keyframes ads {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes waves-menu {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

@media only screen and (max-width: 1280px) {}

@media only screen and (max-width: 1024px) {
  .top-menu {
    grid-template-areas:
      'info'
      'content';
    grid-template-columns: 1fr;
    padding: 0;
    box-sizing: border-box;
  }

  .top-menu-wrapper {
    grid-template-columns: 200px 1fr 40px;
    grid-template-areas: 'logo . menu';
  }

  .menuItems,
  .buttomsItems {
    display: none;
  }

  .top-menu {
    grid-template-columns: 1fr;
  }

  #burger-buttom {
    display: grid;
    grid-area: menu;
    align-items: center;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 320px) and (max-width: 767px) {
  .banner-home > .content-basic > .grid-1 > h1.title {
    color: #42c6ba;
    margin-bottom: 10px;
    font-family: 'Lora', sans-serif;
    font-size: 3rem;
    font-weight: 400;
  }

  .banner-home > .content-basic > .grid-1 > p.subtitle {
    color: #414156;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    margin: 0;
    text-align: center;
  }

  .top-menu-wrapper {
    display: grid;
    grid-area: content;
    grid-template-columns: 300px 1fr;
    padding: 0 25px;
    box-sizing: border-box;
  }
}
