.about-image {
   margin: 0 auto;
   padding: 50px 0;
   width: 700px;
}

.about-title {
   font-family: 'Lora', sans-serif;
   font-size: 3rem;
   font-weight: 400;
   color: #42c6ba;
   text-align: left;
   margin: 130px 0 0 0;
}

.about-title-bottom {
   font-family: 'Lora', sans-serif;
   font-size: 3rem;
   font-weight: 400;
   color: #42c6ba;
   text-align: left;
   margin: 100px 0 40px 150px;
}

.about-text {
   color: #414156;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.3rem;
   font-weight: 400;
   margin-top: 20px;
   text-align: left;
}

.about-work-together2 {
  color: #42c6ba;
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}

.about-work-together3 {
   font-family: 'Lora', serif;
   font-weight: 400;
   text-align: left;
}

.about-center img {
   border-radius: 10px;
   margin: 0 auto;
   margin-top: 70px;
   width: 550px;
}

.timeline > .vertical-timeline {
   width: 95%;
   max-width: 1170px;
   margin: 0 auto;
   position: relative;
   padding: 2em 0 8em 0;
}

.skills-container {
   background-color: #ececec;
   display: grid;
}

.skills-title {
   color: #13eba2;
   font-family: 'Satisfy', serif;
   font-size: 1.6rem;
   background: #ececec;
}

.skills-subtitle {
   color: #1b1a1f;
   font-family: 'Montserrat', sans-serif;
   font-size: 50px;
   font-weight: 700;
   margin-top: -20px;
   text-transform: uppercase;
   background: #ececec;
}

ul.list-item {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.1rem;
   list-style-type: none;
   background: #ececec;
}

.list-item > li {
   list-style-position: inherit;
   background: #ececec;
}

@media only screen and (max-width: 720px) {
   .grid-4 {
      grid-template-columns: 1fr;
      margin: 60px 0;
   }

   .about-image {
      margin: 0 auto;
      padding: 50px 0;
      width: 250px;
   }

   .about-center img {
      width: 330px;
      margin: 0 auto;
   }

   .about-title {
      color: #13eba2;
      font-family: 'Satisfy', serif;
      font-size: 2.5rem;
      font-weight: normal;
      margin: 40px 0 40px 10px;
   }

   .about-text {
      color: #1b1a1f !important;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.3rem;
      font-weight: 400;
      margin-top: 40px;
      padding: 0 15px;
   }

   .skills-subtitle {
      color: #1b1a1f;
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      font-weight: 700;
      margin-top: -20px;
      text-transform: uppercase;
      background: #ececec;
   }
}