.card-a {
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

.card-a > .text {
  font-size: 18px;
  color: #8e969b;
  text-align: center;
}

.card-a > .image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

.card-a > .number {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 28px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px dotted black;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 25px;
}

.card-b {
  min-height: 400px;
  display: grid;
  width: 100%;
  grid-template-columns: 60% 40%;
  transition: 400ms all;
}

.card-b.transition {
  animation: cardVanished 2s linear;
}

.card-b > div:nth-child(1) > h1 {
  background-color: #fff;
  margin: 60px 0;
  font-size: 34px;
  padding: 10px 20px;
  color: #0380c2;
  transition: 400ms all;
}

.card-b > div:nth-child(1) > .text {
  padding: 0 40px 0 20px;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 30px;
}

.card-b > div:nth-child(1) > .button {
  display: grid;
  justify-items: center;
}

.card-b > div:nth-child(1) > .button > a {
  color: #0380c2;
  border: 2px solid transparent;
  line-height: 50px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 200;
  min-width: 60%;
  display: inline-block;
  text-align: center;
}

.card-b > div:nth-child(1) > .button > a:hover {
  color: #fff !important;
  background-color: transparent;
  border-color: #fff;
}

.card-b > div:nth-child(2) {
  display: grid;
  justify-items: right;
}
.card-b > div:nth-child(2) > .image {
  width: 400px;
  height: 400px;
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
}

.card-b > div:nth-child(2) > .image > div {
  width: 300px;
  height: 300px;
  background-size: 1500px;
  background-position: -0px 0;
  position: relative;
  z-index: 5;
}

.card-b > div:nth-child(2) > .image > span.before,
.card-b > div:nth-child(2) > .image > span.after {
  border: 35px solid #acc1d1;
  content: '';
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;
  position: absolute;
  border-radius: 50%;
  display: block;
  z-index: 2;
  opacity: 0;
  animation: waves 2s linear infinite;
}

.card-b > div:nth-child(2) > .image > span.before {
  border-color: #42c6ba;
  animation-delay: 0.5s;
}

.card-c {
  border: 1px solid #42c6ba;
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 20px;
  width: 300px;
}

.card-c > .service-icons > .img {
  height: 100px;
  margin: 0 auto !important;
  width: 100px;
}

.card-c > h3 {
  color: #414156;
  font-family: 'Lola', serif;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;;
}

.card-c > h3.no-margin {
  margin-bottom: 0;
}

.card-c > h4 {
  font-size: 18px;
  line-height: 24px;
  color: #444c52;
  margin-top: 0;
}

.card-c > .text {
  text-align: left;
  line-height: 20px;
  font-size: 18px;
  color: #444c52;
}

.card-c > .textJustify {
  text-align: justify;
  line-height: 20px;
  font-size: 18px;
  color: #444c52;
}

.card-d {
  display: grid;
  justify-items: center;
  padding: 20px;
  position: relative;
}

.card-d:after,
.card-d:before {
  border: 10px solid #acc1d1;
  content: '';
  height: 50px;
  width: 50px;
  top: 22px;
  position: absolute;
  border-radius: 50%;
  display: block;
  z-index: -1;
  opacity: 0;
  animation: pulseOpacity 4s linear infinite;
}

.card-d:before {
  border-color: #0280c2;
  animation-delay: 2s;
}

.card-d > h3 {
  color: #444c52;
  font-size: 24px;
}

.card-d > .text {
  color: #8e969b;
  text-align: center;
  font-size: 20px;
}

.card-e {
  display: grid;
  justify-items: center;
}

.card-e > .number {
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  line-height: 100px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border-radius: 50px;
}

.card-e > h3 {
  color: #fff;
  font-size: 20px;
}

@keyframes waves {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes cardVanished {
  from: {
    opacity: 1;
  }
  to:  {
    opacity: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .buttom-banner {
    width: auto;
  }
  .card-b {
    grid-template-columns: 1fr;
    padding: 20px 0;
  }

  .card-b > div:nth-child(1) > h1 {
    font-size: 28px;
    line-height: 28px;
  }
  .card-b > div:nth-child(2) {
    display: none;
  }
  .card-c > .text {
  }
}

@media only screen and (max-width: 720px) {
  .card-e > h3 {
    font-size: 18px;
    font-weight: normal;
  }
  .card-e > .number {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
  }
}
