.success {
   background-color: #42c46a;
   border: 1px solid #42c46a;
   border-radius: 5px;
   color: #fff;
   font-weight: bold;
   margin-top: 20px;
   padding: 10px 0;
   width: 100%;
}

.contact-title {
   font-family: 'Lora', sans-serif;
   font-size: 3rem;
   font-weight: 400;
   color: #42c6ba;
   text-align: left;
   margin: 280px 0 0 0;
}

.about-title-bottom {
   font-family: 'Lora', sans-serif;
   font-size: 3rem;
   font-weight: 400;
   color: #42c6ba;
   text-align: left;
   margin: 100px 0 40px 150px;
}

.contact-text {
   color: #414156;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.3rem;
   font-weight: 400;
   margin-top: 20px;
   text-align: left;
}

.contact-subtitle {
   color: #42c6ba;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.5rem;
   font-weight: 700;
   text-align: center;
}

.contact-text {
   font-family: 'Lora', serif;
   text-align: center;
}

.contact-important {
   font-family: 'Lora', serif;
   font-size: 2rem;
   margin-top: 40px;
   text-align: center;
}

.contact-important > span {
   color: #42c6ba;
}

.box {
   margin-top: 150px;
}

.label {
   font-family: 'Open Sans', sans-serif;
   font-size: 1.1rem !important;
   font-weight: 400 !important;
}

.button.is-info {
   color: #fff;
   background-color: #42c6ba !important;
   border-color: transparent;
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   margin-top: 40px;
   margin-bottom: 40px;
}

.contact-form-title {
   color: #1e1e1e;
   font-family: 'Open Sans', sans-serif;
   font-size: 1rem;
   font-weight: 300;
   text-align: center;
   text-transform: uppercase;
}

.field {
   width: 100%;
}

.control {
   width: 100%;
}

.contact-input {
   border: 1px solid #42c6ba;
   border-radius: 4px;
   font-family: 'Open Sans', sans-serif;
   font-size: .95rem;
   font-weight: 400;
   height: 35px;
   margin-left: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
   padding-left: 10px;
   width: 90%;
}

/* input:nth-of-type(4) {
   height: 115px;
} */

button.contact-button {
   background: #42c6ba;
   border-radius: 4px;
   color: #fff;
   cursor: pointer;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.1rem;
   font-weight: 700;
   height: 35px;
   letter-spacing: 0.025em;
   margin-left: 20px;
   margin-top: 40px;
   text-transform: uppercase;
   transition: all 0.15s ease;
   width: 93%;
}

button.contact-button:hover {
   background-color: #69d2c8;
   transform: translateY(-1px);
   box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
   text-decoration: none;
   -webkit-transition: all 0.15s ease;
   transition: all 0.15s ease
}

.control {
   box-sizing: border-box;
   clear: both;
   font-size: 1rem;
   position: relative;
   text-align: left;
}

.label {
   color: #363636;
   display: block;
   font-size: 1rem;
   font-weight: 700;
}

.help.is-danger {
   color: #ff3860;
}

.failure {
   background-color: #ff3860;
   border: 1px solid #ff3860;
   border-radius: 5px;
   color: #fff;
   font-weight: bold;
   font-family: 'Open Sans', sans-serif;
   margin-top: 20px;
   padding: 10px 0;
   width: 100%;
}

.help {
   display: block;
   font-size: 0.75rem;
   margin-top: 0.25rem;
}

@media only screen and (max-width: 720px) {
   .grid-4 {
      grid-template-columns: 1fr;
      margin: 60px 0;
   }

   .about-image {
      margin: 0 auto;
      padding: 50px 0;
      width: 250px;
   }

   .about-center img {
      width: 330px;
      margin: 0 auto;
   }

   .about-title {
      color: #13eba2;
      font-family: 'Satisfy', serif;
      font-size: 2.5rem;
      font-weight: normal;
      margin: 40px 0 40px 10px;
   }

   .about-text {
      color: #1b1a1f !important;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.3rem;
      font-weight: 400;
      margin-top: 40px;
      padding: 0 15px;
   }

   .skills-subtitle {
      color: #1b1a1f;
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      font-weight: 700;
      margin-top: -20px;
      text-transform: uppercase;
      background: #ececec;
   }
}