.banner-home {
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1280px 1fr;
  box-sizing: border-box;
  grid-template-areas: '. content .';
  height: 100vh;
}

.banner-home > .content-basic {
  align-self: center;
  justify-self: center;
  text-align: center;
}

.banner-home > .content-basic > .grid-2 > .left > h1.title {
   font-family: 'Lora', sans-serif;
   font-size: 4rem;
   font-weight: 400;
   color: #42c6ba;
   text-align: left;
   margin: 210px 0 0 0;
}

.banner-home > .content-basic > .grid-2 > .left > h3.subtitle {
  color: #414156;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 20px;
  text-align: left;
}

.right > img {
  width: 600px;
  background-repeat: no-repeat;
  margin-top: 70px;
} 

.banner-home > .content-basic > h2 {
   font-family: 'Satisfy', serif;
   font-size: 60px;
   color: #13eba2;
   margin: 0;
}

.buttom-banner {
  display: inline-block;
  margin: 85px 0 10px 0;
}

.optional-links {
  display: grid;
  margin: 10px auto;
  justify-items: center;
}

.optional-links > a {
  font-size: 20px;
  text-decoration: none;
  color: #444c52;
}

.card-a {
  margin: 0 auto;
}

.card-a > .text {
  color: #444c52;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-a > div.title {
  font-family: 'Lora', serif;
  font-size: 3rem;
  font-weight: 400;
  color: #42c6ba;
}

/* .card-a > .text:nth-of-type(2) {
   margin-top: 0;
} */

.line-break {
   margin: 20px 0;
}

.work-together {
  color: #42c6ba;
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 50px;
  text-transform: uppercase;
}

.work-together2 {
  color: #42c6ba;
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
}

.work-together3 {
  font-family: 'Lora', serif;
  font-weight: 700;
  text-align: center;
}

.learnMore {
  display: grid;
  background: #ececec;
}

.learnMore > .content-basic {
  padding: 0;
}

@keyframes animatedBackground {
  from {
    background-position-y: center;
    background-position-x: left;
  }

  to {
    background-position-y: center;
    background-position-x: right;
  }
}

@media only screen and (max-width: 1280px) {
  .banner-home {
    grid-template-columns: 1fr;
  }

  .readyToStart {
    grid-column: 2;
  }

  .banner-home > .content-basic > h1,
  .banner-home > .content-basic > h2 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .readyToStart {
    display: none;
  }

  .buttom-banner {
    width: auto;
  }
}

@media only screen and (max-width: 720px) {
  .info-menu {
    background-color: #42c6ba;
    grid-area: info;
    line-height: 40px;
  }

  .info-menu > a {
    font-size: .75rem;
    text-align: center;
  }
  
  .right > img {
    width: 350px;
    background-repeat: no-repeat;
    margin-top: 70px;
  } 
  
  .banner-home > .content-basic > .grid-2 > .left > h1.title {
    font-family: 'Lora', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: #42c6ba;
    text-align: center;
    margin: 50px 0 0 0;
  }

  .banner-home > .content-basic > .grid-2 > .left > h3.subtitle {
    color: #414156;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
    margin-top: 20px;
  }
  
  .card-a > .text {
    color: #1b1a1f;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
  }


  img.image {
    margin: 20px 0;
    width: 350px;
    z-index: 100;
  }

  .content-basic > .grid-2 {
    padding: 0;
    margin-top: 50px;
  }

  .grid-2 {
    padding: 0;
  }

  .work-together {
    color: #42c6ba;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }

  .work-together2 {
    color: #13eba2;
    background: #ececec;
    font-family: 'Satisfy', serif;
    font-size: 6rem;
    font-weight: 400;
    text-align: center;
  }

  .card-a {
    margin: 0;
  }
}