.card-a {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 25px;
}

.card-a > div.promotion-title {
  background-color: #42c6ba;
  border-radius: 5px;
  color: #fff;
  font-family: 'Lora', serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: 10px;
}

.card-a > .grid-1 > p.promotion-text {
  margin-top: 10px;
}

.card-a > div.promotion-footer-title {
  font-family: 'Lola', serif;
  font-size: 3rem;
  font-weight: bold;
  margin: 20px 0 0 0;
}

.card-a > div.promotion-footer-title > p.promotion-footer-text {
  background-color: #42c6ba;
  border-radius: 5px;
  color: #fff;
  font-family: 'Lola', serif;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  padding: 15px;
  text-align: center;
}

.banner-promotion {
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1280px 1fr;
  box-sizing: border-box;
  grid-template-areas: '. content .';
  height: 60vh;
}

.banner-home > .content-basic {
  align-self: center;
  justify-self: center;
  text-align: center;
}

.banner-promotions > .content-basic > .grid-1 > h1.promotion-title {
   color: #42c6ba;
   margin-bottom: 10px;
   margin-top: 120px;
   font-family: 'Lora', sans-serif;
   font-size: 4rem;
   font-weight: 400;
}

.banner-promotions > .content-basic > .grid-1 > p.subtitle {
  color: #414156;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 0;
  text-align: center;
}

.buttom-banner {
  display: inline-block;
  margin: 85px 0 10px 0;
}

.optional-links {
  display: grid;
  margin: 10px auto;
  justify-items: center;
}

.optional-links > a {
  font-size: 20px;
  text-decoration: none;
  color: #444c52;
}

.promotions-subfooter {
  color: #42c6ba;
  font-family: 'Lola', serif;
  font-size: 1.9rem;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

@keyframes animatedBackground {
  from {
    background-position-y: center;
    background-position-x: left;
  }

  to {
    background-position-y: center;
    background-position-x: right;
  }
}

@media only screen and (max-width: 1280px) {
  .banner-home {
    grid-template-columns: 1fr;
  }

  .readyToStart {
    grid-column: 2;
  }

  .banner-home > .content-basic > h1,
  .banner-home > .content-basic > h2 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .readyToStart {
    display: none;
  }

  .buttom-banner {
    width: auto;
  }
}

@media only screen and (max-width: 720px) {
  .promotion-title {
    color: #42c6ba;
    font-family: 'Lora', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    margin: 50px 0 0 0;
    text-align: center;
  }
  
  .info-menu {
    background-color: #42c6ba;
    grid-area: info;
    line-height: 40px;
  }

  .info-menu > a {
    font-size: .75rem;
    text-align: center;
  }
  
  .right > img {
    width: 350px;
    background-repeat: no-repeat;
    margin-top: 70px;
  } 
  
  .banner-promotions > .content-basic > .grid-1 > h1.promotion-title {
    font-family: 'Lora', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: #42c6ba;
    text-align: center;
    margin: 120px 0 0 0;
  }

  .banner-promotions > .content-basic > .grid-1 > p.subtitle {
    color: #414156;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 15px;
    text-align: center;
  }
  
  .card-a > .text {
    color: #1b1a1f;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
  }


  img.image {
    margin: 20px 0;
    width: 350px;
    z-index: 100;
  }

  .content-basic > .grid-2 {
    padding: 0;
    margin-top: 50px;
  }

  .grid-2 {
    padding: 0;
  }

  .card-a > div.promotion-title {
    background-color: #42c6ba;
    border-radius: 5px;
    color: #fff;
    font-family: 'Lora', serif;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    padding: 10px;
  }

  .card-a > .grid-1 > p.promotion-text {
    margin-top: 10px;
  }

  .card-a > div.promotion-footer-title {
    font-family: 'Lola', serif;
    font-size: 3rem;
    font-weight: bold;
    margin: 20px 0 0 0;
  }

  .card-a > div.promotion-footer-title > p.promotion-footer-text {
    background-color: #42c6ba;
    border-radius: 5px;
    color: #fff;
    font-family: 'Lola', serif;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    padding: 15px;
    text-align: center;
  }

  .promotions-subfooter {
    color: #42c6ba;
    font-family: 'Lola', serif;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }

}