h1.black {
  color: #1b1a1f;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 400;
}

p {
  font-size: 20px;
  color: #1b1a1f;
}

h1.blue {
  color: #1b1a1f;
}

h1.white {
  text-transform: uppercase;
  color: #fff;
}

@media only screen and (max-width: 720px) {
  h1.black,
  h1.blue,
  h1.white {
    font-size: 30px;
    text-align: center;
  }

  p {
    text-align: justify;
  }
}
